<link rel="stylesheet" href="/css/track_delete.css">


<div id="modal-delete-track" class="modal hidden">
    <div class="modal-content track-delete-modal-content">
        <p class="track-delete-question">
            Bist du dir sicher, dass du diese Strecke
            <strong id="delete-track-name">-</strong>
            löschen möchtest?
        </p>

        <form id="form-delete-track" method="POST" action="/api/tracks/delete" class="track-delete-form">
            <input type="hidden" id="delete-track-value" name="trackName">

            <div class="track-delete-actions">
                <button type="button" class="track-delete-btn track-delete-btn-cancel" onclick="closeModal('modal-delete-track')">Abbrechen</button>
                <button type="submit" class="track-delete-btn track-delete-btn-danger">Löschen</button>
            </div>
        </form>
    </div>
</div>
