# 1. Rename or create a new file called ".env" in the main directory
# 2. If it is empty copy this whole page in it
# 3. Now change the Settings to your wish and return to the Setup


# System Variablen
PORT=443 # Port where the Webserver will be available on this machine IP -> https://IP:Port
SESSION_SECRET= # Terminal Command: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
PRODUCTION=true # THIS IS NOT WORKING - ITS HERE FOR FUTURE USE
MQTT_BROKER_URL=mqtt:// # mqtt://<yourBrokerIP>:<yourBrokerPort>
MQTT_USER=myuser # Leave Blank if you have not created an User
MQTT_PASSWORD=myuser # Leave Blank if you have not created an User


# User
NORMAL_USER=normal
NORMAL_USER_PASS=normal

ADMIN_USER=admin
ADMIN_USER_PASS=admin


# Settings
ALLOW_ADMIN_LOGIN=true # THIS IS NOT WORKING - ITS HERE FOR FUTURE USE
MAX_TRACKS=-1 # Wenn -1 dann unendlich Tracks
APP_NAME=IoT Railstation # Sets the Application Name for the Overlays top left corner
# MAX_TRACK_EDITOR_X=1000 # Entfernen und druch das erstellen es Tracks ersetzen
# MAX_TRACK_EDITOR_Y=550 # Entfernen und druch das erstellen es Tracks ersetzen


NOTE: Later will use "require('@dotenvx/dotenvx').config()" -> https://dotenvx.com