<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/notification.css">
    <title>Dashboard</title>
</head>

<%- include('../partials/overlay') %>
<%- include('../partials/blur') %>


<body>
    <%- include('../partials/notification') %>
    <h1>Links</h1><br>
    <a href="/tracks">> Tracks (Later main Page)</a><br>
    <a href="/devices">> Device Overview</a><br>
    <a href="https://github.com/Gohst101/IoT-Railstation">> GitHub (Help)</a>
    <script src="/js/notification.js" defer></script>
</body>
</html>