:root {
    --background-color: #131720;
    
    --text-color: #FFFFFF;
    --primary-color: #7C7C7C;

    --button-success-color: #1C7A00;
    --button-warning-color: #C45F00;
    --button-danger-color: #7A0E00;
    --button-info-color: #004BC4;

    --box-color: #1B212D;

    --box-stroke-color: #2D3443;


    --button-action-play: #2E8300;
    --button-action-play-background: #15FF00; /* 10% Transparent */
    --button-action-edit: #FF9500;
    --button-action-edit-background: #FF9500; /* 10% Transparent */
    --button-action-settings: #878787;
    --button-action-settings-background: #FFFFFF; /* 10% Transparent */
    --button-action-delete: #FF0000;
    --button-action-delete-background: #FF0000; /* 10% Transparent */


    
}